<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mcpe_Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Sky_Cloud_Backup.Main_Storage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Sky_Cloud_Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Mcpe_Backup.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>False</value>
            </setting>
        </Mcpe_Backup.Properties.Settings>
        <Sky_Cloud_Backup.Main_Storage>
            <setting name="Mode" serializeAs="String">
                <value>False</value>
            </setting>
        </Sky_Cloud_Backup.Main_Storage>
        <Sky_Cloud_Backup.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Green" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Red" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Upload_To_Drive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="World_Location" serializeAs="String">
                <value/>
            </setting>
            <setting name="Save_Location" serializeAs="String">
                <value/>
            </setting>
            <setting name="Always_on_top" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize_to_Form" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Editions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strtwin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="first_strtup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chk_zip_mcowrld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Orange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Deep_Purple" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Defualt_name_textbox" serializeAs="String">
                <value/>
            </setting>
            <setting name="Defualt_name_chkbx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Backup_name_for" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dev_Mode" serializeAs="String">
                <value>False</value>
            </setting>
        </Sky_Cloud_Backup.Properties.Settings>
    </userSettings>
</configuration>
