.post-footer-info-wrapper {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.zebra-wrapper {
    .zebra {
        @include shape-medium;
        display: flex;
        padding: 20px 12px 20px 12px;
        align-items: center;
        img {
            max-width: 70%;
        }
        h1 {
            margin-right: auto;
        }

        &:nth-child(odd) {
            background: var(--md-sys-elevation-level3);
            flex-direction: row-reverse;
            h1 {
                margin-right: auto;
                margin-left: auto;
            }
        }

        @media (max-width: $defualt-width) {
            flex-wrap: wrap;
          }
    }
}