    {% capture favicon_path %}{{ '/Sky-Cloud-Backup/assets/img/favicons' }}{% endcapture %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon_path }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon_path }}/favicon-16x16.png">
    <link rel="manifest" href="{{ favicon_path }}/site.webmanifest">
    <link rel="mask-icon" href="{{ favicon_path }}/safari-pinned-tab.svg" color="#2d89ef">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#464646">