<footer class="site-footer h-card">
    <data class="u-url" href="{{ "{{site.baseurl}}/" | relative_url }}"></data>
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
  
        <div class="footer-col">
          <li class="Links_footer">
            </svg><span>find me on</span>
            </a>
          </li>
          <li class="Links_footer">
            <a href="https://github.com/Involts">
              <svg class="svg-icon github">
                <use xlink:href="{{ 'assets/fica-icons.svg#github' | relative_url }}"></use>
              </svg><span>Github</span>
            </a>
          </li>
          <li class="Links_footer">
            <a href="/">
              <svg class="svg-icon youtube">
                <use xlink:href="{{ 'assets/fica-icons.svg#youtube' | relative_url }}"></use>
              </svg><span>Youtube</span>
            </a>
          </li>
          <li class="Links_footer">
            <a href="/">
              <svg class="svg-icon stackoverflow">
                <use xlink:href="{{ 'assets/fica-icons.svg#stackoverflow' | relative_url }}"></use>
              </svg>Stackoverflow</span>
            </a>
          </li>
        </div>
  
        <div class="footer-middle">
          <li class="Links_footer">
            </svg><span>You're site</span>
            </a>
          </li>
          <li class="Links_footer">
            <a
              href="/">
              <svg class="svg-icon github">
                <use xlink:href="{{ 'assets/fica-icons.svg#github' | relative_url }}"></use>
              </svg><span>sit amet</span>
            </a>
          </li>
          <li class="Links_footer">
            <a href="/">
              <svg class="svg-icon github">
                <use xlink:href="{{ 'assets/fica-icons.svg#github' | relative_url }}"></use>
              </svg><span>consectetur</span>
            </a>
          </li>
          <li class="Links_footer">
            <a href="/">
              <svg class="svg-icon github">
                <use xlink:href="{{ 'assets/fica-icons.svg#github' | relative_url }}"></use>
              </svg><span>ipsum</span>
            </a>
          </li>
  
        </div>
        <div class="footer-last">
          <li class="Product_footer">{{site.title}}</li>
          <li class="Product_footer">{{site.description}}</li>
        </div>
      </div>
    </div>
  
  </footer>
  