<footer class="site-footer h-card">
  <data class="u-url" href="{{ "{{site.baseurl}}/" | relative_url }}"></data>
  <div class="wrapper_footer">

    <div class="footer-col-wrapper">
            <div class="footer-col">
      <li class="Links_footer">
        </svg><span>On Github</span>
        </a>
      </li>
      <li class="Links_footer">
        <a href="https://github.com/Involts/Sky-Cloud-Backup">
          <svg class="svg-icon github">
            <use xlink:href="{{ 'assets/fica-icons.svg#github' | relative_url }}"></use>
          </svg><span>Repository</span>
        </a>
      </li>
      <li class="Links_footer">
        <a href="{{site.baseurl}}/Releases">
          <svg class="svg-icon github">
            <use xlink:href="{{ 'assets/fica-icons.svg#Releases' | relative_url }}"></use>
          </svg><span>Releases</span>
        </a>
      </li>
      <li class="Links_footer">
        <a href="https://github.com/Involts/Sky-Cloud-Backup/issues">
          <svg class="svg-icon github">
            <use xlink:href="{{ 'assets/fica-icons.svg#bug' | relative_url }}"></use>
          </svg>Report Bugs</span>
        </a>
      </li>
    </div>

    <div class="footer-middle">
      <li class="Links_footer">
        </svg><span>Sky Cloud Backup</span>
        </a>
      </li>
      <li class="Links_footer">
        <a
          href="https://github.com/Involts/Sky-Cloud-Backup/releases/download/{{site.header.version}}/Sky.Cloud.Backup.{{site.header.download_version}}.zip">
          <svg class="svg-icon github">
            <use xlink:href="{{ 'assets/fica-icons.svg#download' | relative_url }}"></use>
          </svg><span>Download</span>
        </a>
      </li>
      <li class="Links_footer">
        <a href="{{site.baseurl}}/Wiki">
          <svg class="svg-icon github">
            <use xlink:href="{{ 'assets/fica-icons.svg#github' | relative_url }}"></use>
          </svg><span>Wiki</span>
        </a>
      </li>
      <li class="Links_footer">
        <a href="{{site.baseurl}}/About">
          <svg class="svg-icon github">
            <use xlink:href="{{ 'assets/fica-icons.svg#github' | relative_url }}"></use>
          </svg><span>About</span>
        </a>
      </li>

    </div>
      <div class="footer-last">
        <li class="Product_footer"><a href="{{site.baseurl}}/Index/" class="footer-title">{{site.title}}</a></li>
        <li class="Product_footer">{{site.description}}</li>
      </div>
    </div>
  </div>

</footer>
