<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/image/favicons/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/image/favicons/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/image/favicons/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "/assets/image/favicons/site.webmanifest" | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/image/favicons/safari-pinned-tab.svg" | relative_url }}" color="#004494">
<meta name="msapplication-TileColor" content="#adc6ff">
<meta name="theme-color" content="#adc6ff">

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%- include assets/Google-Analytics.html -%}
{%- if page.home-%}
<title>{{site.title}}</title>
{%- else -%}
<title>{{page.site-title}} - {{site.title}}</title>
{%- endif -%}
