
{%- unless page.layout == "home" -%}
<nav class="site-nav" id="nav">
{%- else -%}
    <nav class="header-home-mod site-nav" id="nav">
{%- endunless -%}
  <input type="checkbox" id="check" />
  <label for="check">
    <span class="material-icons checkbtn"> menu </span>
  </label>
  <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <div class="nav-links">
    <a href="{{ site.header.header_link_1 | relative_url }}">{{site.header.header_name_1}}</a>
    <a href="{{ site.header.header_link_2 | relative_url }}">{{site.header.header_name_2}}</a> 
    <a href="{{ site.header.header_link_3 | relative_url }}">{{site.header.header_name_3}}</a>
  </div>
</nav>
