/*
 * Site header
 */

 .site-header {
    background-color: $site-header-bg;
    border-top: 5px solid $site-header-bg;
    border-bottom: 5px solid $site-header-bg;
    min-height: $spacing-unit * 1.865;
    line-height: $base-line-height * $base-font-size * 2.25;
  
    // Positioning context for the mobile navigation icon
    position: relative;
  }
  
  .site-title {
    @include relative-font-size(1.625);
    font-weight: 690;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: $base-font-family;
  
    @include media-query($on-palm) {
      padding-right: 45px;
    }
  
    &,
    &:visited {
      color: $site-title-color;
    }
  
    &:hover {
      color: $header-link-color;
    }
  }
  //Header Banner
  .header-pic {
    position: relative;
    animation-name: pic_app;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    @keyframes pic_app {
      0%   {opacity: 0%;}
      20%  {opacity: 20%;}
      50%  {opacity: 50%;}
      70%  {opacity: 70%;}
      90%  {opacity: 90%;}
      100% {opacity: 100%;}
    }	
  }
  .page-header {
    border-top: 10px solid $home-header-title-color;
    color: $site-title-color;
    background-color: $home-header-title-color;
    border-bottom: 5px solid $home-header-title-color;
    padding-bottom: 10px;
    text-align: center;
  }
  .page-header-title {
    border-top: 8px;
    margin-bottom: 0%;
    font-size: 2.20rem;
    color: $header-bg-color;
    text-align: center;
    font-weight: bold;
    font-family: $base-font-family;
    padding-bottom: 7px;
  }
  
  .page-header-description {
    margin-bottom: 0%;
    padding-bottom: 10px;
    font-size: 1.2rem;
    color: $header-bg-color;
    text-align: center;
    font-weight: lighter;
    font-family: $base-font-family;
    animation-name: des_app;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    @keyframes des_app {
      0%   {opacity: 0%;}
      20%  {opacity: 20%;}
      50%  {opacity: 50%;}
      70%  {opacity: 70%;}
      90%  {opacity: 90%;}
      100% {opacity: 100%;}
    }	
  }

  // Site.nav 
  .site-nav {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $menu-bdr-color;
    border-radius: 10px;
    text-align: right;
  
    .nav-trigger {
      display: none;
      float: right;
      padding-right: 100px;
      padding-left: 1px;
    }
  
    .menu-icon {
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
  
      > svg path {
        fill: $menu-color;
      }
    }
  
    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }
  
    input ~ .trigger {
      clear: both;
      display: none;
    }
  
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
  
    .page-link {
      font-weight: 600;
      color: $text-color;
      line-height: $base-line-height;
      letter-spacing: 0rem;
      display: block;
      padding: 5px 10px;
      
      font-family: $base-font-family;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
  
      &:hover {
        color: $header-link-color;
      }
    }
  
    @media screen and (min-width: $on-medium) {
      position: static;
      float: right;
      border: none;
      background-color: inherit;
  
      label[for="nav-trigger"] {
        display: none;
      }
  
      .menu-icon {
        display: none;
      }
  
      input ~ .trigger {
        display: block;
      }
  
      .page-link {
        display: inline;
        padding: 0;
  
        &:not(:last-child) {
          margin-right: 20px;
        }
        margin-left: auto;
      }
    }
  }
  /**
   * Site footer
   */
  .site-footer {
    background-color: $footer-bg-color;
    padding: $spacing-unit 0;
  }
  
  .Links_footer {
    list-style: none;
    color: $link-base-color;
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);
    transition: $transition-links;
  
  
    &:first-child {
      font-weight: bolder;
      padding-right: $spacing-unit / 2;
      padding-left: 0;
      padding-bottom: 4px;
      font-size: larger;
      color: #f0ffff;
    }
  
    &:first-child:hover {
      color: #f0ffff;
    }
  
    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
      
      
    }
  }
  .Product_footer {
    list-style: none;
    color: #f0ffff;
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);
  
    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
      padding-bottom: 1px;
      font-size: 0.6cm;
      color: #f0ffff;
      font-weight: 900;
    }
  
    &:last-child:hover {
      color: #f0ffff;
    }
  
    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
      font-size: 40;
    }
  
    &:hover {
      color: #f0ffff;
      text-decoration: none;
    }
  }

  @media screen and (min-width: $on-medium) {
    .footer-col-wrapper {
      display: flex;
    }
  
    .footer-col {
      margin-bottom: $spacing-unit / 2;
      width: calc(28% - (#{$spacing-unit} / 2));
      padding: 0 ($spacing-unit / 2);
  
      &:first-child {
        padding-right: $spacing-unit / 2;
        padding-left: 0;
      }
  
      &:last-child {
        padding-right: 0;
        padding-left: $spacing-unit / 2;
      }
    }
    .footer-middle {
      margin-bottom: $spacing-unit / 2;
      width: calc(35% - (#{$spacing-unit} / 2));
      padding: 0 ($spacing-unit / 2);
  
      &:first-child {
        padding-right: $spacing-unit / 2;
        padding-left: 0;
      }
  
      &:last-child {
        padding-right: 0;
        padding-left: $spacing-unit / 2;
      }
    }
    .footer-last {
      margin-bottom: $spacing-unit / 2;
      width: calc(35% - (#{$spacing-unit} / 2));
      padding: 0 ($spacing-unit / 2);
  
      &:first-child {
        padding-right: $spacing-unit / 2;
        padding-left: 0;
      }
  
      &:last-child {
        padding-right: 0;
        padding-left: $spacing-unit / 2;
      }
    }
  }
  
  /**
   * Page content
   */
  .page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $site-title-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title,
  .post-content h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1.15;
  
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
    h4,
    h5,
    h6 {
      margin-top: $spacing-unit;
    }
  
    h2 {
      @include relative-font-size(1.75);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(2);
      }
    }
  
    h3 {
      @include relative-font-size(1.375);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.625);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
    }
  
    h5 {
      @include relative-font-size(1.125);
    }
    h6 {
      @include relative-font-size(1.0625);
    }
  }
  
  
  /**
   * Pagination navbar
   */
  .pagination {
    margin-bottom: $spacing-unit;
    li {
      a,
      div {
        min-width: 41px;
        text-align: center;
        box-sizing: border-box;
      }
      div {
        display: block;
        padding: $spacing-unit / 4;
        border: 1px solid transparent;
  
        &.pager-edge {
          color: $border-color-01;
          border: 1px dashed;
        }
      }
    }
  }
  
  
  /**
   * Grid helpers
   */
  @media screen and (min-width: $on-large) {
    .one-half {
      width: calc(50% - (#{$spacing-unit} / 2));
    }
  }

 .btn {
   padding: 8px 25px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: $text-color;
   background-color: $btn-bg-color;
   border-color: $btn-bg-color;
   transition: $transition-btn;
 
   &,
   &:visited {
     color: $text-color;
   }

   &:hover {
     color: $btn-text-hover-color;
     text-decoration: none;
     background-color: $btn-color-hover;
     border-color: $btn-color-hover;
   }
 }