//
// Prompts
//
.prompt-tip {
  @include prompt(
    "tips_and_updates",
    $prompt-tip-icon-color,
    $prompt-tip-bg-color,
    "material symbols rounded"
  );
}

.prompt-tip {
  @include prompt(
    "tips_and_updates",
    $prompt-tip-icon-color,
    $prompt-tip-bg-color,
    "material symbols rounded"
  );
}

.prompt-info {
  @include prompt(
    "info",
    $prompt-info-icon-color,
    $prompt-info-bg-color,
    "material symbols rounded"
  );
}

.prompt-warning {
  @include prompt(
    "warning",
    $prompt-warning-icon-color,
    $prompt-warning-bg-color,
    "material symbols rounded"
  );
}

.prompt-danger {
  @include prompt(
    "dangerous",
    $prompt-danger-icon-color,
    $prompt-danger-bg-color,
    "material symbols rounded"
  );
}

//
//  Tables
//
table {
  margin-bottom: $font-spacing;
  width: 100%;
  text-align: $table-text-align;
  color: $md-sys-color-on-secondary-container-dark;
  border-collapse: collapse;
  @include horizontal-scroll();

  tr {
    &:nth-child(even) {
      background-color: $md-sys-color-secondary-dark;
      color: $md-sys-color-on-secondary-dark;
      font-weight: 600;
    }

    &:nth-child(odd) {
      background-color: $md-sys-color-tertiary-dark;
      color: $md-sys-color-on-tertiary-dark;
      font-weight: 600;
    }
  }

  th {
    padding: ($font-spacing / 3) ($font-spacing / 2);
    border-bottom: 3px solid $md-sys-color-surface-variant-dark;
    border-left: 1px solid $md-sys-color-surface-variant-dark;
    border-right: 1px solid $md-sys-color-surface-variant-dark;
    background-color: $md-ref-palette-secondary-80;
    color: $md-sys-color-on-secondary-dark;
  }

  td {
    padding: ($font-spacing / 3) ($font-spacing / 2);
    border-left: 1px solid $md-sys-color-surface-variant-dark;
    border-right: 1px solid $md-sys-color-surface-variant-dark;
  }
}


.btn {
  padding: 8px 25px;
  @include btn($md-sys-color-primary-dark, $md-sys-elevation-level2, $md-sys-elevation-level5);
}

//
// Back to top(BTT)
//
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: $md-sys-elevation-level3;
  color: $md-sys-color-primary-dark;
  padding: 2px;
  cursor: pointer;
  border-radius: 50%;
  transition: $transition-btn;
  z-index: 2;
  align-items: center;

  > i {
    padding-left: 1px;
    font-size: 48px;
    font-weight: 700;
  }

  &:hover {
    bottom: 30px;
  }
}

.BTT-Entrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: BTT-Entrance;
}

.BTT-Exit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: BTT-Exit;
}

.post-nav {
  padding-top: 5px;
  display: inline;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px;

  @media screen and (min-width: $mobile-width) {
    gap: 100px;
  }
}

.post-nav-svg {
  color: $md-sys-color-primary-dark;
  background: $md-sys-color-surface-dark;
  box-shadow:  1px 1px 6px 1px $md-ref-palette-neutral-0;
  transition: $tansitions-page-bar;
  padding: 8px 8px 8px 8px;
  border-radius: 50px;
  display: flex;
  transition: font-variation-settings cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-variation-settings: "wght" 500;

  &:hover {
    background: $md-sys-elevation-level5;
    font-variation-settings: "wght" 700;
  }
}

.disable-svg {
  cursor: not-allowed;
  color: $text-mute-color;
}

.post-nav-num {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: default;
  display: inline;
  @include text-muted;
}

//
// Post footer
//
.post-footer {
  padding-top: 13px;
  border-top: 3px solid $md-sys-color-outline-dark;
  margin: 0px;
}


// 
// Table Of Contents(Toc)
// 

.post-toc {
  //CHANGE: hover state
  flex: 0 0 20%;
  border-left: 1px solid $text-color;
  margin-left: 10px;
  padding-left: 10px;
  display: none;
  height: 10%;

  ul, li {
    list-style: none;
    width: 100%;
    margin-left: 0px;
    padding: 4px 20px;

    >a {
      color: $text-mute-color;
      font-size: 15px;
      font-weight: 400;
      word-spacing: 0px;

      &:visited {
        color: $text-mute-color;
      }

      &:hover {
        color: $text-color;
      }
    }
  }

  ul {
    padding: 0;
  }

  li {
    padding-bottom: 5px;
  }

  h2 {
    font-size: 20px;
    padding-left: 5px;
  }

  @media screen and (min-width: 1111px) {
    display: block;
  }
}