<!DOCTYPE html>
<html>
      {%- include head.html -%}
    <body>
        {%- include header.html -%}

        <header class="page-header" role="banner">
            <div class="wrapper">
                <p class="page-header-title">{{page.title}}</p>
                <img src="{{site.baseurl}}/assets/md1.png">
              </div>
        </header>
        <main class="page-content" aria-label="Content">
          <div class="wrapper">
            {{ content }}
          </div>
        </main>
        {%- include hooter.html -%}
   </body>
</html>