<!DOCTYPE html>
<html>
{%- include Head.html -%}

<body>
  {%- include Header.html -%}
  <header class="page-header" role="banner">
    <div class="wrapper">
      <p class="page-header-title">{{site.title}}</p>
      <p class="page-header-description">{{site.description}}</p>
      <img src="{{site.baseurl}}/assets/img/fica_ad.png" class="header-pic">
    </div>
  </header>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {%- include Footer.html -%}
</body>

</html>