<!DOCTYPE html>
<html lang="en">

<head>
  {%- include head.html -%}
</head>
<body>
  {%- include header.html -%}
  {%- include assets/noscript.html -%}
  <main class="post-content">
    {%- include assets/site-top-bar.html -%}
    <div class="wrapper-post">
      <header class="post-header">
        <div class="post-info-date">
          <div class="post-meta">
            {%- assign date_format = site.fica.date_format | default: "%b %-d, %Y" -%}
            <time class="text-unmuted" datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: date_format }}
            </time>
          </div>
          {%- if page.modified_date -%}
          <div class="post-change-date post-meta">
            {%- assign mdate = page.modified_date |
            date_to_xmlschema -%}
            <span class="material-symbols-rounded">
              edit
            </span>
            <time class="text-unmuted" datetime="{{ mdate }}">
              {{ mdate | date: date_format }}
            </time>
          </div>
          {%- endif -%}
        </div>

        <h1 class="post-title">{{ page.title | escape }}</h1>
        <div class="post-author post-meta">
          {% if site.post_author %} {% assign author = site.post_author %} {% endif %} {% if
            page.author %} {% assign author = page.author %} {% endif %} 
          <span itemprop="name">{{ author }}</span>
        </div>
      </header>
      {% include assets/anchor-headings.html html=content anchorBody="link" anchorClass="material-symbols-rounded"   %}
      <div class="post-footer-info-wrapper">
        <a class="btn" href="https://github.com/Involts/Sky-Cloud-Backup/releases/tag/{{page.version}}">More information</a>
        <a  class="btn" href="https://github.com/Involts/Sky-Cloud-Backup/releases/download/{{page.version}}/Sky.Cloud.Backup.{{page.download_version}}.zip">Download</a>
      </div>
    </div>
    <div class="post-toc" id="toc">
      {% include assets/toc.html html=content h_min=1 h_max=3 %}
    </div>
    {% include assets/btt.html %}
  </main>
  <script src="{{ "assets/js/main.js" | relative_url }}"></script>
</body>

</html>