<!DOCTYPE html>
<html>
{%- include Head.html -%}

<body>
  {%- include Header.html -%}

  <header class="page-header" role="banner">
    <div class="wrapper">
      <p class="page-header-title">{{page.title}}</p>
      <img src="{{site.baseurl}}{{page.site-header}}" class="header-pic">
    </div>
  </header>
  <header class="wiki-header">
    <div class="wrapper_wiki">
        <a href="/Sky-Cloud-Backup/Wiki">Home</a>
        <a href="/Sky-Cloud-Backup/Wiki/Sky-Cloud-Backup_101/">How to use the app</a>
      </div>

  </header>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {%- include Footer.html -%}
</body>

</html>